//- Used to define variables, this must be load in index.pug and each fragment
block variables
  -var fallback = "'Ubuntu', Arial, Open Sans, Helvetica, sans-serif"
  -var title = "ASUS22DDBH6227_DMD_7_Unmet_Needs"
  -var white = "#ffffff"
  -var max_w = 600
  -var mob = 320
  -var img_path = "./img/"
  -var bg_color= "#eeeeee"
  -var externalFonts = ["https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300&display=swap"]
